<%# player = session[:player_id].present? ? Player.find(session[:player_id]) : Player.new %>
<%= turbo_frame_tag "#{dom_id(game)}_players" do %>
  <div id=<%# "#{dom_id(game)}_players" %>>
    <ul>
      <%= render partial: "players/player", collection: game.players, as: :player %>
    </ul>
  </div>
<% end %>
