<p id="notice"><%= notice %></p>
<p>
  <strong>Kind:</strong>
  <%= @player.kind %>
</p>
<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>
<p>
  <strong>Game:</strong>
  <%= @player.game_id %>
</p>
